<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Person",
      "name": "Nilo Cara",
      "url": "https://nilo.frontend.co.za/about",
      "image": "https://nilo.frontend.co.za/static/images/400x400_NO_BG.png",
      "sameAs": [
        "https://www.linkedin.com/in/nilo-cara/",
        "https://twitter.com/CodeCara",
        "https://github.com/niloc95/",
        "https://nilo.frontend.co.za/about"
      ],
      "jobTitle": "Software Engineer",
      "worksFor": {
        "@type": "Organization",
        "name": "Frontend Development"
      }  
    }
    </script>